# Dipendenze e ambienti locali
.venv/
simplepir/

# Dataset locali
Blocchi/
BlocchiNoCert/

# Output del benchmark
benchmark/risultati.txt
benchmark/tempi.csv

# Python
__pycache__/
*.py[cod]

# Go
bin/
*.exe
*.test

# Sistema operativo e editor
.DS_Store
.vscode/
Blocchi/

server/client_hint.gob